header {
    display: flex;
    justify-content: center;
}

header div * {
    text-align: center;
}

#topbar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

#topbar a {
    text-decoration: none;
}

#sidebar {
    max-width: 20vw;
}

#page-body {
    display: flex;
}

.result-info {
    display: flex;
}

.result-details {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}