hr {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

header {
    display: flex;
    justify-content: center;
}

#header-box {
    position: relative;
}

#header-box h1, #header-box p {
    text-align: center;
}

#header-box #earth-icon {
    position: absolute;
    left: 0;
    right: 100%;
}

#topbar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

#topbar a {
    text-decoration: none;
}

#sidebar {
    width: 20vw;
}

#page-body {
    display: flex;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    padding: 1em;
    background-color: grey;
}

.result {
    position: relative;
    border: 1px solid black;
    padding: 1em;
    background-color: white;
}

.result h3, .result h5 {
    margin: 0.1em;
}

.result-info {
    display: flex;
    align-items: flex-start;
}

.result-details {
    display: flex;
}

#filters {
    width: auto;
}

.favorite {
    position: absolute;
    top: 0;
    right: 0;
}

#filters ul {
    list-style: none;
}

footer {
    display: flex;
    justify-content: center;
    background-color: darkgray;
    height: 2em;
    margin: 0;
}